# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python/Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
media/
staticfiles/

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
